.main {
	position: relative;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	img {
		width: 100%;
		vertical-align: top;
	}
	.main-news-section {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 1200px;
		@media screen and (max-width: 768px) {
			width: 100%;
		}
		.section-title {
			width: 100%;
			padding-left: 30px;
			color: #28323c;
			font-size: 40px;
			font-weight: bold;
			margin-bottom: 0;
			@media screen and (max-width: 768px) {
				font-size: 24px;
				margin: 0 0 -40px;
				padding: 32px 24px;
				width: 90%;
				&.news-title {
					padding-bottom: 0;
				}
			}
		}
		.news-section {
			padding-bottom: 100px;
		}
	}
}
