header {
	display: flex;
	justify-content: center;
	border-bottom: #efefef 1px solid;
	@media screen and (max-width: 768px) {
		height: 55px;
		width: 100%;
	}
	.link-and-menu {
		width: 1200px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo-button {
			height: 100%;
			display: flex;
			align-items: center;
			.logo-img {
				margin: 19px 0;
				max-width: 190px;
				@media screen and (max-width: 768px) {
					max-width: 118px;
					height: auto;
					margin: 0 0 0 16px;
				}
			}
		}
		.menu-button {
			margin-right: 14px;
			background-color: white;
			border: none;
			img {
				width: 24px;
				height: 24px;
			}
		}
		ul {
			list-style: none;
			display: flex;
			height: 100%;
			li {
				height: 100%;
				display: flex;
				align-items: center;
				box-sizing: border-box;
				a {
					color: #303030;
					font-weight: bold;
					padding: 16px;
					margin: 0 4px;
					text-decoration: none;
				}
				&.selected {
					border-bottom: 4px solid #012066;
				}
			}
		}
		.mobile {
			display: none;
		}
		@media screen and (max-width: 768px) {
			.desktop {
				display: none;
			}
			.mobile {
				display: block;
			}
		}
	}
}
