.text-section {
    white-space: pre-wrap;
    .title {
        margin: 0 0 20px;
        color: #28323C;
        font-size: 20px;
        font-weight: bold;
    }
    .content {
        margin: 0 0 48px;
        color: #374553;
        font-size: 18px;

    }
}